Thrombose 2K17 Client/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9000/ThromboseService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9000/ThromboseService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9000/ThromboseService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/myLib" />
      <xsd:import schemaLocation="http://localhost:9000/ThromboseService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_NewConnect_InputMessage">
    <wsdl:part name="parameters" element="tns:NewConnect" />
  </wsdl:message>
  <wsdl:message name="IService1_NewConnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IService1_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetChatText_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChatText" />
  </wsdl:message>
  <wsdl:message name="IService1_GetChatText_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChatTextResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGame_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGame" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="NewConnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NewConnect" message="tns:IService1_NewConnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NewConnectResponse" message="tns:IService1_NewConnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SendMessage" message="tns:IService1_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SendMessageResponse" message="tns:IService1_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChatText">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetChatText" message="tns:IService1_GetChatText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetChatTextResponse" message="tns:IService1_GetChatText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGame" message="tns:IService1_GetGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGameResponse" message="tns:IService1_GetGame_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewConnect">
      <soap:operation soapAction="http://tempuri.org/IService1/NewConnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/IService1/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChatText">
      <soap:operation soapAction="http://tempuri.org/IService1/GetChatText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGame">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:9000/ThromboseService/HelloService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>