Thrombose 2K17 Client/Service References/ServiceReference1/ThromboseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/ThromboseService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/myLib" />
  <xs:element name="NewConnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/myLib" minOccurs="0" name="NewConnectResult" nillable="true" type="q1:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChatText">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChatTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetChatTextResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/myLib" minOccurs="0" name="GetGameResult" nillable="true" type="q2:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>